<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>All Books</title>
</head>
<body>

<table>
    <thead>
    <tr>
        <th>Title | </th>
        <th>Year | </th>
        <th>Author first name | </th>
        <th>Author last name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${list}">
        <td th:text="${book.title}"></td>
        <td th:text="${book.year}"></td>
        <td th:text="${book.authorFirstName}"></td>
        <td th:text="${book.authorLastName}"></td>
        <td>
            <form class="table-button">
                <input class="table-button" type="submit" value="edit" th:formaction="@{../books/edit}" formmethod="get">
                <input class="table-button" type="submit" value="delete" th:formaction="@{../books/delete}" formmethod="post">
                <input type="hidden" th:value="${book.id}" name="id">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<hr>

<h3><a href="/books/add">Add book...</a></h3>
<h3><a href="/">Go to main...</a></h3>
</body>
</html>
